@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Mate+SC&family=Style+Script&display=swap');

* {
    box-sizing: border-box
}

body {
    background-color: rgb(218, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Style Script', cursive;
    font-size: 20px;
    font-weight: bolder;
}

.container {
    width: 60vw;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
    padding: 10px;
    border: 1px solid black;
}

.container header {
    font-size: 25px;
    font-family: 'Holtwood One SC', serif;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 3px 5px 5px black;
}

.clock-container {
    font-family: 'Holtwood One SC', serif;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    border: 5px solid black;
    border-radius: 5px;
}

.image-container img {
    width: 35vw;
    height: auto;
}

.image-container h2 {
 font-weight: bolder;
 font-size: xx-large;
 margin-top: -50px;
 margin-bottom: 0;
 text-align: center;
 color: white;
 -webkit-text-stroke: 0.5px black;
}

h3 {
    margin: 0;
}

#countClock {
    margin-top: -12px;
}


h1, li, .settings p {
    margin: 0;

}

ul {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 0;
}

.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.settings span {
    background-color: white;
    margin-left: 10px;
    border-radius: 4px;
}

button {
    color: white;
    background-color: black;
    width: auto;
    border-radius: 5px;
    font-family: 'Holtwood One SC', serif;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 30px;

}

footer {
    position: fixed;
    bottom: 0;
    font-family: 'Mate SC', serif;
    width: 100%;
    background-color: sienna;
    text-align: center;
}

select {
    border: none;
    font-family: cursive;
}